@use "src/globalStyles/" as g;

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 20px 26px;
}

.title {
  margin-right: auto;
  font-family: g.$font-dm-serif-display;
  font-size: 26px;
  color: g.colors(white, base);
}
