@use "src/globalStyles/" as g;

.container {
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: g.colors(gray, type1);
}

.item {
  flex: 1;
  align-items: center;
  justify-content: center;
}

%text {
  min-width: 70px;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.buttonYes {
  color: g.colors(green, base);
  @extend %text;
}

.buttonCancel {
  color: g.colors(gray, type2);
  @extend %text;
}
