@use "variables" as v;
@use "functions" as g;

// spacing : margin, padding
@mixin spacing($spacing, $maps, $maxNum, $step) {
  @each $position in $maps {
    @for $i from 0 through $maxNum {
      @if $i % $step == 0 {
        .u-#{$spacing}-#{$position}-#{$i} {
          #{$spacing}-#{$position}: $i + px;
        }
      }
    }
  }
}

@mixin spacing-irregular($spacing, $maps, $list) {
  @each $position in $maps {
    @each $value in $list {
      .u-#{$spacing}-#{$position}-#{$value} {
        #{$spacing}-#{$position}: $value + px;
      }
    }
  }
}

// font
@mixin font10-light {
  font-size: g.fontsize(10);
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

@mixin font10-regular {
  font-size: g.fontsize(10);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

@mixin font10-medium {
  font-size: g.fontsize(10);
  font-weight: 500;
  line-height: 1.4;
}

@mixin font10-bold {
  font-size: g.fontsize(10);
  font-weight: 700;
  line-height: 1.4;
}

@mixin font11-medium {
  font-size: g.fontsize(11);
  font-weight: 500;
  line-height: 1.4;
}

@mixin font12-light {
  font-size: g.fontsize(12);
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@mixin font12-regular {
  font-size: g.fontsize(12);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@mixin font12-medium {
  font-size: g.fontsize(12);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

@mixin font12-bold {
  font-size: g.fontsize(12);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

@mixin font14-light {
  font-size: g.fontsize(14);
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@mixin font14-regular {
  font-size: g.fontsize(14);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@mixin font14-medium {
  font-size: g.fontsize(14);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

@mixin font14-medium-nospace {
  font-size: g.fontsize(14);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
}

@mixin font14-bold {
  font-size: g.fontsize(14);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@mixin font16-regular {
  font-size: g.fontsize(16);
  font-weight: 400;
  line-height: 1.5;
}

@mixin font16-medium {
  font-size: g.fontsize(16);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@mixin font16-bold {
  font-size: g.fontsize(16);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@mixin font18-medium {
  font-size: g.fontsize(18);
  font-weight: 500;
  line-height: 1.5;
}

@mixin font22-bold {
  font-size: g.fontsize(22);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}

@mixin font10-eng-regular {
  font-size: g.fontsize(10);
  font-weight: 400;
  line-height: 1.4;
}

@mixin font10-eng-semibold {
  font-size: g.fontsize(10);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

@mixin font10-eng-medium {
  font-size: g.fontsize(10);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.15em;
}

@mixin font12-eng-medium {
  font-size: g.fontsize(12);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.15em;
}

@mixin font12-eng-bold {
  font-size: g.fontsize(12);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.15em;
}

@mixin font16-eng-medium {
  font-size: g.fontsize(16);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.1em;
}

@mixin font18-eng-medium {
  font-size: g.fontsize(18);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.1em;
}

@mixin font22-eng-regular {
  font-size: g.fontsize(22);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

@mixin font22-eng-medium {
  font-size: g.fontsize(22);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
