@use "src/globalStyles/" as g;

.container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: g.colors(white, base);
  border-radius: 50px;
}
