@use "src/globalStyles/" as g;

%container {
  flex: 1;
  background: g.colors(blue, bg);
}

.containerNewProject {
  padding: 88px 35px 90px;
  @extend %container;
}

.containerEditProject {
  padding: 88px 35px 90px;
  @extend %container;
}
