@use "src/globalStyles/" as g;

.container {
  position: relative;
  flex: 1;
  background: g.colors(blue, bg);
}

.containerScrollView {
  padding-bottom: 20px;
}

.block {
  height: 1000px;
  background: g.colors(green, base);
}
