@use "src/globalStyles/" as g;

.container {
  width: 100%;
  margin-top: 32px;
}

.title {
  font-family: g.$font-dm-serif-display;
  font-size: 16px;
  font-style: italic;
  color: g.colors(white, base);
}

.titleWrap {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 204px;
  margin: 0 auto;
}

.titleBorder {
  width: 40px;
  height: 1px;
  background: g.colors(blue, navy);
}

.socialList {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.socialIconItems {
  margin: 0 14px;
}
