@use '../../../globalStyles/' as g;

.container {
  width: 100%;
  margin-top: 32px;
}

.title {
  font-family: g.$font-dm-serif-display;
  font-style: italic;
  font-size: 16px;
  color: g.colors(white, base);
  &Wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 204px;
    margin: 0 auto;
  }
  &Border {
    width: 40px;
    height: 1px;
    background: g.colors(blue, navy);
  }
}

.social {
  &List {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  &Items {
    margin: 0 14px;
  }
}
