@use "src/globalStyles/" as g;

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 20px 26px 12px;
}

.backBtn {
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding-right: 2px;
  margin-right: auto;
}

.title {
  font-family: g.$font-dm-serif-display;
  font-size: 26px;
  color: g.colors(white, base);
  text-align: right;
}
