@use 'src/globalStyles/' as g;

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 60px 20px 26px 12px;
}

.backBtn {
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: auto;
  padding-right: 2px;
}

.title {
  text-align: right;
  font-family: g.$font-dm-serif-display;
  color: g.colors(white, base);
  font-size: 26px;
}
