@use "src/globalStyles/" as g;

.container {
  align-items: center;
  justify-content: center;
  width: 44px;
  background: g.colors(red, base);
}

.minus {
  width: 16px;
  height: 2px;
  background: g.colors(white, base);
  border-radius: 50px;
}
