@use "src/globalStyles/" as g;

%container {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36px;
  border-radius: 50px;
}

.containerGreen {
  @extend %container;
  background: g.colors(blue, overlay);
  border: solid 1px g.colors(green, base);
}

.containerGray {
  @extend %container;
  background: g.colors(gray, type3);
}

.containerDisabled {
  opacity: 0.4;
  @extend %container;
}

.textGreen {
  font-size: 14px;
  color: g.colors(green, base);
}

.textGray {
  font-size: 14px;
  color: g.colors(gray, type1);
}
