<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284037821861-utcdb2ehla1f70j2ojecvjjvle5ijl0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284037821861-utcdb2ehla1f70j2ojecvjjvle5ijl0t</string>
	<key>API_KEY</key>
	<string>AIzaSyBShdE1r8BsejhjilhlFbBTxG9gK9ZnLME</string>
	<key>GCM_SENDER_ID</key>
	<string>284037821861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lyrics.app</string>
	<key>PROJECT_ID</key>
	<string>lyrics-a7ae4</string>
	<key>STORAGE_BUCKET</key>
	<string>lyrics-a7ae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284037821861:ios:ab83d1fd6ad55cbdb6a44c</string>
</dict>
</plist>