@use '../../globalStyles/' as g;

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: g.colors(blue, bg);
}

.text {
  font-family: g.$font-hurricane;
  color: g.colors(white, base);
  font-size: 70px;
}
