@use "src/globalStyles/" as g;

%container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@mixin text($color, $text_center: false) {
  font-size: 16px;
  font-weight: 900;
  color: $color;
  @if ($text_center) {
    text-align: center;
  }
}

.container {
  @extend %container;
}

.play-button {
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: g.colors(blue, overlay);
  border: solid 2px g.colors(white, base);
  border-radius: 50px;
}

.icon-start {
  margin-left: 3px;
}

.icon-pause {
  margin-bottom: 4px;
  margin-left: 2px;
}

.repeat-button {
  align-items: center;
  justify-content: center;
  width: 48px;
  margin-right: 46px;
  margin-left: 12px;
}

.repeat-button__text {
  @include text(g.colors(white, base));
}

.icon-repeat {
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.cue-reset-button {
  width: 60px;
  margin-left: 48px;
}

.cue-reset-button__text {
  @include text(g.colors(white, base), true);
}

.cue-reset-button__text--inactive {
  @include text(g.colors(gray, type3), true);
}
