@use "src/globalStyles/" as g;

.container {
  flex: 1;
  padding: 88px 0 90px;
  background: g.colors(blue, bg);
}

%text {
  font-size: 12px;
  color: g.colors(gray, type1);
  text-align: center;
}

.forgotMessagge {
  margin-top: 32px;
  @extend %text;
}

.linkText {
  color: g.colors(green, base);
}

.signUpWrap {
  padding: 0 35px;
  margin-top: 60px;
}

.signUpMessage {
  @extend %text;
}

.signUpButtonWrap {
  margin-top: 20px;
}
