@use "src/globalStyles/" as g;

%container {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background: g.colors(green, base);
  border-radius: 5px;
}

.container {
  @extend %container;
}

.containerDisabled {
  opacity: 0.4;
  @extend %container;
}

.text {
  font-size: 16px;
  font-weight: bold;
  color: g.colors(white, base);
}
