@use "src/globalStyles/" as g;

.container {
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  min-height: 62px;
  padding-right: 8px;
  padding-left: 20px;
  background: g.colors(yellow, light);
  border-radius: 50px;
  column-gap: 8px;
}

.text-input {
  width: 120px;
  padding-bottom: 6px;
  color: g.colors(blue, bg);
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  border-bottom-width: 1;
  border-bottom-style: solid;
  border-bottom-color: g.colors(blue, bg);
}

%button {
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
}

.button-save {
  @extend %button;
}

.button-save--disabled {
  opacity: 0.4;
  @extend %button;
}
