@use "src/globalStyles/" as g;

.container {
  padding: 0 20px;
}

.text {
  font-size: 12px;
  line-height: 18px;
  color: g.colors(gray, type1);
  text-align: center;
}

.buttonWrap {
  margin-top: 24px;
}
