@use '../../../globalStyles/' as g;

.container {
  width: 100%;
  height: 60px;
  border-radius: 5px 5px 0 0;
  z-index: 10;
  background: g.colors(blue, overlay);
}

.list {
  display: flex;
}

.items {
  width: 20%;
  color: g.colors(white, base);
}
