@use 'src/globalStyles/' as g;

%container {
  flex: 1;
  background: g.colors(blue, bg);
}

.container {
  @extend %container;
  &NewProject {
    padding: 88px 35px 90px;
    @extend %container;
  }
}
