@use '../../../globalStyles/' as g;

.container {
  flex-direction: row;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.artwork {
  width: 60px;
  height: 60px;
  border-radius: 2px;
  overflow: hidden;
  background: g.colors(white, base);
}

.title {
  font-family: g.$font-dm-serif-display;
  font-style: italic;
  font-size: 16px;
  color: g.colors(white, base);
  &Wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 204px;
    margin: 0 auto;
  }
  &Border {
    width: 40px;
    height: 1px;
    background: g.colors(blue, navy);
  }
}
