@use "src/globalStyles/" as g;

%text {
  color: g.colors(white, base);
  text-align: center;
}

.text {
  font-family: g.$font-dm-serif-display;
  font-size: 16px;
  font-style: italic;
  @extend %text;
}

.logo {
  font-family: g.$font-hurricane;
  font-size: 70px;
  @extend %text;
}

.message {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  @extend %text;
}
